@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Montserrat:wght@400;700&display=swap');

/* General */
body {
  font-family: 'IM Fell English', serif;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url('../images/dumbell.jpg');
  overflow-x: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.start {
  float: left;
}

.end {
  float: right;
}

.dark-clr {
  color: black;
}

.light-clr {
  color: white;
}

.med-dark-clr {
  color: #6F310A;
}

.med-light-clr {
  color: #A87556;
}

a {
  text-decoration: none;
}

a.light-clr:hover,
a.med-dark-clr:hover {
  color: #A87556;
}

a.med-light-clr:hover {
  color: #6F310A;
}

.btn {
  outline: solid #A87556;
  color: white;
  background-color: #6F310A;
  border: none;
  box-shadow: 0 0 0 0;
}

.btn:hover,
.btn:active,
.btn:focus {
 background-color: #A87556;
 outline: solid #6F310A;
 color: black;
 border: none;
 box-shadow: none;
}

.card {
  background-color: #C7C7BC;
  border: none;
}


section {
  color: black;
  font-family: 'Montserrat', sans-serif;
  min-height: 70%;
    min-height: -webkit-calc(100% - 186px);
    min-height: -moz-calc(100% - 186px);
    min-height: calc(100% - 186px);
}

/* Navbar */
.navbar {
  background-color: #12110D;
}

/* Footer */
footer {
  background-color: #12110D;
  margin-top: auto;
}

.social-links a {
  font-size: 23px;
}

.copyright {
  font-size: small;
}

.jumbotron {
  /* overflow: auto; */
  /* background-color: #C7C7BC; */
  background-color: #12110D;
  color: white;
  min-height: 70vh;
}

.content-list-container {
  width: 75%;
}

.content-list {
  background-color: #C7C7BC;
  border: solid 1px black;
}

/* calendar */
.calendar {
  width: 100%;
  margin: auto;
  font-size: 13px;
}

.calendar tr,
.calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 14.2%;
  height: 95px;
  padding: 20px 0px 0px 5px;
}

.calendar td:hover {
  background-color: #ECECE9;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
  color: black;
}

.calendar .no-date,
.calendar .no-date:hover {
  background-color: rgba(168, 117, 86, 0.5);
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
  padding-inline-start: 5px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clearfix {
  margin: 15px 5px;
}

.form {
  margin: auto;
}

.form input,
.form select,
.form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}

.session-comment {
  width: 350px;
  height: 75px;
  background-color: #C7C7BC;
  border: solid 1px black;
  margin: 0 auto;
}

.session-workout {
  margin-bottom: 1.5rem;
}

.grid-col1 {
  height: 1.5rem;
  border-top: solid 1px black;
}

.grid-col1:first-of-type {
  border-top: none;
}

.grid-col2 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.session-workout .grid-col2 {
  border-top: solid 1px black;
}

.session-workout .grid-col2:first-of-type,
.session-workout .grid-col2:nth-of-type(2) {
  border-top: none;
}

.grid-col3 {
  padding-top: 0.75rem;
}

.grid-col31 {
  height: 1.5rem;
  border-top: solid 1px black;
  border-right: solid 1px black;
}

.grid-col32 {
  font-weight: bold;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-right: solid 1px black;
}

.grid-col32:last-of-type,
.grid-col31:last-of-type {
  border-right: none;
}

/* For screen width < 768px */
@media screen and (max-width: 768px) {

  .content-list-container {
    width: 90%;
  }
}

/* For screen width < 576px */
@media screen and (max-width: 576px) {

  body {
    background: #12110D;
  }

  .session-comment {
    width: 250px;
  }

  .content-list-container {
    width: 100%;
  }

  .grid-col31 {
    padding: 0.5px;
    font-size: smaller;
  }
}

