{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The only Workout Planning App you'll need">
    <title>ITrain</title>
</head>
<body>
    <header>
        <h1>ITrain</h1>
    </header>
    {% for message in messages %}
        <div id="msg">
            {{ message | safe}}
        </div>

    {% endfor %}

    <section>
        {% block content %}

        {% endblock %}
    </section>

    <footer></footer>

    <script></script>
    
</body>
</html>