{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron container p1 p-sm-2 mt-md-3">
	<div class="jumbotron-head justify-content-center text-center mt-3">
		<h1>Welcome to ITrain</h1>
	</div>
	<div class="container-md content-list-container p-sm-4 mt-3 mb-3 gy-4 dark-clr">
		<div class="clearfix">
			<a class="btn start" href="{% url 'home' %}?{{ prev_month }}"> Previous Month </a>
			<a class="btn end" href="{% url 'home' %}?{{ next_month }}"> Next Month </a>
		</div>
		<div class="row content-list row-cols-1">
				{{ calendar }}
		</div>
	</div>
</div>
{% endblock %}