{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron container p1 p-sm-2 mt-md-3">
  <div class="jumbotron-head justify-content-center text-center mt-3">
    <h2 class="mb-4">Workouts</h2>

    <a href="{% url 'create_workout'%}">
      <button type="button" class="btn btn-primary">Create New Workout</button>
    </a>
  </div>
  <div class="container-md content-list-container p-sm-4 mt-3 gy-4 dark-clr">
    <div class="row session-workout content-list row-cols-1">
      {% for workout in workout_list %}
      <div class="col-6 grid-col2">
        <h4>{{ workout.name }}</h4>
      </div>
      <div class="col-6 grid-col2">
        <h4 class="end">
          {% if workout.description != '' %}
          <a class="med-dark-clr" data-bs-toggle="collapse" href="#collapseWorkout{{ workout.id }}"
            aria-expanded="false" aria-controls="collapseWorkout{{ workout.id }}"><i
              class="fa-solid fa-info"></i></a>&nbsp;&nbsp;
          {% endif %}
          <a class="med-dark-clr" href="{% url 'edit_workout' workout.id %}"><i
              class="fa-solid fa-edit"></i></a>&nbsp;&nbsp;
          <!-- Button trigger modal -->
          <!-- Modal code was copied from https://getbootstrap.com/docs/5.0/components/modal/ -->
          <a class="med-dark-clr" href="#delete-workout-{{ workout.id }}" data-bs-toggle="modal">
            <i class="fa-solid fa-trash"></i>
          </a>
        </h4>
      </div>
      <div class="collapse" id="collapseWorkout{{ workout.id }}">
        <div class="card card-body">
          {{ workout.description }}
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="delete-workout-{{ workout.id }}" tabindex="-1"
        aria-labelledby="delete-workout-{{ workout.id }}-title" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="delete-workout-{{ workout.id }}-title">Delete Workout: {{ workout.name }}
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to proceed?</p>
              <p>This action can not be undone!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <a href="{% url 'delete_workout' workout.id %}">
                <button type="button" class="btn btn-primary">Delete</button>
              </a>
            </div>
          </div>
        </div>
      </div>

      {% empty %}
      <div class="col grid-col2 pt-3">
        <h4>You have no workouts to show</h4>
      </div>

      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}