{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>Exercises</h2>

<a href="{% url 'create_exercise'%}">
  <button type="button" class="btn btn-primary">Create New Exercise</button>
</a>

<table>
  {% for exercise in exercise_list %}
  <tr>
    <td>{{ exercise.name }}</td>
    <td>{{ exercise.unit }}</td>
    <td>{{ exercise.id }}</td>
    <td><a href="{% url 'edit_exercise' exercise.id %}">Edit Exercise</a></td>
    <!-- Button trigger modal -->
    <!-- Modal code was copied from https://getbootstrap.com/docs/5.0/components/modal/ -->
    <td><a href="#delete-exercise-{{ exercise.id }}" data-bs-toggle="modal">
        <i class="fa-solid fa-trash"></i></a></td>
  </tr>

  <!-- Modal -->
  <div class="modal fade" id="delete-exercise-{{ exercise.id }}" tabindex="-1"
    aria-labelledby="delete-exercise-{{ exercise.id }}-title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delete-exercise-{{ exercise.id }}-title">Delete Exercise {{ exercise.name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to proceed?</p>
          <p>This action can not be undone!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">
            <a href="{% url 'delete_exercise' exercise.id %}">Delete</a>
          </button>
        </div>
      </div>
    </div>
  </div>

  {% empty %}
  <tr>You have no Exercises to show</tr>
  {% endfor %}
</table>

{% endblock %}